# Node.js
node_modules/
npm-debug.log

# Logs
logs/
*.log

# Dependency directories
jspm_packages/
typings/

# Optionally exclude the build directory
build/
dist/

# dotenv environment variables file
.env

# macOS
.DS_Store

# Windows
Thumbs.db
